.modal {
    .modal-dialog {
        @media screen and (max-width:991.98px) {
            max-width: calc(100% - 100px);
        }

        @media screen and (max-width:576px) {
            max-width: 100%;
        }
    }

    .modal-header {
        border: none;
        position: relative;

        span {
            &.text-success {
                width: 100%;
                text-align: center;
                font-size: 25px;
            }
        }

        &:before {
            content: "";
            width: calc(100% - 100px);
            border: 1px solid var(--alternate, #1a26a2) !important;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            opacity: 0.5;
        }
    }

    .modal-footer {
        border: none;
        position: relative;

        &:before {
            content: "";
            width: calc(100% - 100px);
            border: 1px solid var(--alternate, #1a26a2) !important;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            opacity: 0.5;
        }
    }

    .modal-body {
        overflow-x: hidden !important;

        .modalContent {
            span {
                font-size: 16px;
                line-height: normal;
                font-weight: 500;
                text-align: justify;
                display: flex;

                @media screen and (max-width:768px) {
                    font-size: 14px;
                }
            }

            a {
                color: #1a26a2;
                transition: all 0.3s linear;

                @media screen and (max-width:768px) {
                    font-size: 14px;
                }

                @media screen and (min-width:992px) {
                    &:hover {
                        color: #1a26a2;
                        opacity: 0.5;
                    }
                }
            }

            ul {
                li {
                    list-style: lower-alpha;
                    padding: 10px 0;

                    @media screen and (max-width:768px) {
                        font-size: 14px;
                    }
                }
            }
        }

        .modalAlert {
            span {
                font-size: 16px;
                line-height: 34px;
                font-weight: 500;
                text-align: center;
                display: flex;

                @media screen and (max-width:768px) {
                    font-size: 13px;
                }
            }
        }
    }

   
    
}
