.navbar {
    background: linear-gradient(0deg, rgba(26, 38, 162, 1) 0%, rgba(209, 45, 253, 1) 100%) !important;

    .nav-link {
        font-size: 14px;
        line-height: 15px;
        font-weight: 300;
        color: #ffffff;
    }
}